html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff; letter-spacing: 1px;
}

body {
	background-color: #181818;
	font-size: 14px;
	min-width: 720px;
}

#footerText {
	width: 100%;
	bottom: 0;
	position: fixed;
	height: 50px;
	text-align: center;
}

#topContainer {
	min-height: 100%;
	width: 100%;
}

#sideBarContainer {
	background-color: #000;
	width: 220px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.sideBar {
	padding: 25px;
	display: flex;
	flex-direction: column;
	-ms-flex-direction: column;
}

.logo {
	margin-bottom: 15px;
}

.logo img {
	width: 100px;
}

.sideBar .group {
	border-top: 1px solid #a0a0a0;
	padding: 10px 0;
}

.navItem {
	padding: 10px 0;
	font-size: 14px;
	font-weight: 700;
	display: block;
	letter-spacing: 1px;
	position: relative;
}

.navItemLink {
	color: #a0a0a0;
	text-decoration: none;
}

.navItemLink:hover {
	color: #ffffff;
	text-decoration: none;

}

.navItemLink .icon {
	position: absolute;
	right: 0;
	top: 6px;
	width: 25px;
}

#mainViewContainer {
	margin-left: 220px;
	padding-bottom: 90px;
	width: calc(100% - 220px);
}

#mainContent {
	padding: 0 20px;
}

.pageHeadingBig {
	padding: 20px;
	text-align: center;
}

.pageHeadingBig button {
	color: #fff;
	cursor: pointer;
	margin-bottom: 10px;
	background-color: transparent;
	font-weight: 500;
	letter-spacing: 2px;
	border: 2px solid #fff;
	border-radius: 500px;
	padding: 15px;
	min-width: 130px;
	float: right;
}


.gridViewItem {
	display: inline-block;
	margin-right: 20px;
	width: 29%;
	max-width: 200px;
	min-width: 150px;
	margin-bottom: 20px;
}

.gridViewItem img {
	width: 100%;
}

.gridViewInfo {
	font-weight: 300;
	text-align: center;
	padding: 5px 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.gridViewItem a {
	text-decoration: none;
}

.entityInfo {
	padding: 40px 0 10px 0;
	display: inline-block;
	width: 100%;
}

.entityInfo .leftSection {
	width: 30%;
	float: left;
	max-width: 250px;
}

.entityInfo .leftSection img {
	width: 100%;
}

.entityInfo .rightSection {
	width: 30%;
	float: left;
	padding: 5px 10px 5px 40px;
	box-sizing: border-box;
}

.entityInfo .rightSection h2 {
	margin-top: 0px;
}

.entityInfo h1 {
	text-align: center;
}

.ownerInfo {
	text-align: center;
}

.ownerInfo img {
	width: 200px;
	min-width: 130px;
	border-radius: 500px;
}

.editButton {
	color: #fff;
	cursor: pointer;
	margin-bottom: 10px;
	background-color: transparent;
	font-weight: 500;
	letter-spacing: 2px;
	border: 2px solid #fff;
	border-radius: 500px;
	padding: 15px;
	min-width: 130px;
	float: right;
}

.button {
	color: #fff;
	cursor: pointer;
	margin-bottom: 10px;
	background-color: transparent;
	font-weight: 500;
	letter-spacing: 2px;
	border: 2px solid #fff;
	border-radius: 500px;
	padding: 15px;
	min-width: 130px;
}

a {
	text-decoration: none;
}

.borderBottom {
	border-bottom: 1px solid #939393;
	margin-bottom: 20px;
}

.ownerContact {
	text-align: left;
    padding-left: 10;
}

.ownerInfoContainer h2,
.gridViewContainer h2,
.ownersContainer h2,
.horseInfoContainer h2 {
	text-align: center;
}

.searchContainer {
	background-color: #242424;
	padding: 20px 20px;
}

.searchContainer h4 {
	margin: 0;
	font-weight: 300;
}

.searchContainer .searchInput {
	width: 100%;
	background-color: transparent;
	border: none;
	color: #fff;
	font-weight: 700;
	font-size: 62px;
	letter-spacing: 2px;
}

input:focus {
	outline: none;
}

.searchResultRow {
	padding: 15px 10px;
}

.searchResultRow:hover {
	background-color: #282828;
}

.searchResultRow .ownerName {
	color: #fff;
}

.noResults {
	display: block;
	margin: 15px;
}

.buttonItems .button {
	display: block;
	margin: 0 auto 20px auto;
}

.userInfo h1 {
	text-align: center;
}

.userDetails {
	padding: 20px;
}

.userDetails .container h2 {
	text-align: center;
}

.userDetails .container input[type="text"],
.userDetails .container input[type="password"],
.userDetails .container button {
	display: block;
	margin: 16px auto;
}

.userDetails .container input[type="text"],
.userDetails .container input[type="password"] {
	height: 50px;
	width: 100%;
	background: #1f1f1f;
	border: none;
	font-size: 18px;
	font-weight: 300;
	padding: 0 20px;
}

.userDetails .container .message {
	color: #2ebd59;
	font-weight: 300;
}





