* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff; letter-spacing: 1px;
}

body {
    background-color: #181818;
    font-size: 14px;
    min-width: 720px;
    margin: 0;
}

#sideBarContainer {
    background-color: #000;
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
/*    margin-top: 48px;*/
}

.sideBar {
    padding: 25px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

.logo {
    margin-bottom: 15px;
}

.logo img {
    width: 100px;
}

.sideBar .group {
    border-top: 1px solid #a0a0a0;
    padding: 10px 0;
}

.navItem {
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
    position: relative;
}

.navItemLink {
    color: #a0a0a0;
    text-decoration: none;
}

.navItemLink:hover {
    color: #ffffff;
    text-decoration: none;

}

.navItemLink .icon {
    position: absolute;
    right: 0;
    top: 6px;
    width: 25px;
}

.navContainer {
    width: 100%;
    margin 0 auto;
}

header {
    background: #000;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding-top: 17px;
    color: #a0a0a0;
    text-decoration: none;
    margin-left: 20px;
}

.topNav {
    float: right;
    margin-right: 20px
}

.topNav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.topNav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 15px;
    margin-bottom: 
}

.topNav a {
    color: #a0a0a0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.topNav a:hover {
    color: #fff;
}

#topContainer {
    min-height: 100%;
    width: 100%;
}

#mainViewContainer {
    margin-left: 220px;
    padding-bottom: 90px;
    width: calc(100% - 220px);
}

#mainContent {
    padding: 0 20px;
}

.pageHeadingBig {
    padding: 20px;
    text-align: center;
}

.content-table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1 px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #1f1f1f;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr:hover {
    color: #009879;
}

.borderBottom {
    border-bottom: 1px solid #939393;
    margin-bottom: 20px;
}

.horseDetails {
    padding: 20px;
}

.horseDetails .container h2 {
    text-align: center;
}

.horseDetails .container input[type="text"],
.horseDetails .container input[type="email"],
.horseDetails .container input[type="date"],
.horseDetails .container .button {
    display: block;
    margin: 16px auto;
}

#horse_category {
    margin-left: 5%;
    height: 50px;
    width: 90%;
    background: #1f1f1f;
    font-size: 18px;
    font-weight: 300;
    padding: 0 20px;
    display: block;
    margin: 16px auto;
    border: none;
}

.horseDetails .container input[type="text"],
.horseDetails .container input[type="email"],
.horseDetails .container input[type="date"] {
    height: 50px;
    width: 90%;
    background: #1f1f1f;
    border: none;
    font-size: 18px;
    font-weight: 300;
    padding: 0 20px;
}

.horseDetails .container input[type="file"],
.horseDetails .container img {
    margin-left: 5%;
}

.horseDetails .container label {
    font-size: 18px;
    font-weight: 300;
    margin-left: 5%;
}

.button {
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: transparent;
    font-weight: 500;
    letter-spacing: 2px;
    border: 2px solid #fff;
    border-radius: 500px;
    padding: 15px;
    min-width: 130px;
}


/*Widget Cards*/

.widgetContainer {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.widgetContainer .card {
    position: relative;
}

.widgetContainer .card img {
    width: 100px;
}

.widgetContainer .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.widgetContainer .card .face.face1 {
    position: relative;
    background: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.widgetContainer .card:hover .face.face1 {
    background: #009879;
    transform: translateY(0px);
}

.widgetContainer .card .face.face1 .widgetContent {
    opacity: 0.2;
    transition: 0.5s;
}

.widgetContainer .card:hover .face.face1 .widgetContent {
    opacity: 1;
}

.widgetContainer .card:hover .face.face1 .widgetContent img {
    max-width: 100px;
}

.widgetContainer .card:hover .face.face1 .widgetContent h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.widgetContainer .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.widgetContainer .card:hover .face.face2 {
    transform: translateY(0);
}

.widgetContainer .card .face.face2 .widgetContent p {
    margin: 0;
    padding: 0;
    color: #000;
}

.widgetContainer .card .face.face2 .widgetContent a {
    margin: 15px 0 0;
    display: inline-block;

    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}
.button2 {
    float: right;
}

.widgetContainer .card .face.face2 .widgetContent a:hover {
    background: #333;
    color: #fff;
}

.chart {
    width: 800px; 
    height: 500px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    background: #181818;
    color: #ffffff;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    border-radius: 40px;
    padding-top: 100px;
    padding-right: 30px;
    padding-left: 30px;
}























